## Ignore emacs tmps
[.][#]*
[#]*[#]
*~

## Ignore python caches
__pycache__

## Ignore the pickled model
clf.joblib

## Ignore build files
build
rubiksolver.egg-info
dist

## Ignore junk files
junk

## Ignore README.html from emacs markdown preview
README.html
